{% extends "base/base.html" %}
{% block head_title %} Jornadas | {{block.super}} {% endblock head_title %}


{% block content %}
	<div class="container-fluid">
		<div class="row">
        <div class="col-md-4">

        </div>
			<div class="col-md-4 text-center">
			{% if object_list %}
			{% for item in object_list %}
                <h2>{{item.titulo}}</h2>
				<div class="panel panel-default text-left">
					<div class="panel-body">							
						<FONT SIZE=4>Fecha:</font> {{item.fecha}}<br>
						<FONT SIZE=4>Horario:</font> {{item.horario}}<br>
						<FONT SIZE=4>Estadio:</font> {{item.estadio}}<br>
						<FONT SIZE=4>Local:</font> {{item.nom_local}}<br>
						<FONT SIZE=4>Visita:</font> {{item.nom_visita}}<br>
						<FONT SIZE=4>Marcador:</font> {{item.marcador}}<br>
						<FONT SIZE=4>Estado:</font> {{item.estado}}<br>
						<hr/>


						<a class="btn btn-primary" href="{% url 'jornada_siguiente:jornada_update' item.id %}">Editar</a>
					</div>
				</div>
			{% endfor%}	
			{% endif%}
			</div>
			<div class="col-md-2 ">

			</div>
		</div>
	</div>
{% endblock %}