
{% extends "base/base.html" %}
{% block head_title %} Jornadas | {{block.super}} {% endblock head_title %}


{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
                <h1>{{template_title}} </h1>
                {% for item in object_list %}
                <h3>Titulo:</h3>
                <p>{{item.titulo}}</p>
                <h3>Cronica:</h3>
                <p>{{item.cronica|linebreaks}}</p>
                <P>
                <a class="btn btn-primary" href="{% url 'jornada_actual:cronica_update' item.id %}">Editar</a></br></br>
                </P>
                {% endfor%}
			</div>
			<div class="col-md-2 ">
                <h1>accesos</h1>
				<div class="panel panel-default text-center">

					<div class="panel-body">
                        <a class="btn btn-primary" href="{% url 'jornada_actual:list' %}">Jornada</a></br></br>
                        <a class="btn btn-primary" href="{% url 'jornada_actual:alin_list_act' %}">Alineaciones</a> </br> </br>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/jornada_actual/directoApi/">Directo</a></br></br>
                        <a class="btn btn-primary" href="{% url 'jornada_actual:result_list' %}">Resultados</a></br></br>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
